<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
</head>

<body>
  <h1>Test successful</h1>
  <form action="/submit" method='post'>
    <label for="Science">Science:</label><br>
    <input type="" id="science" name="science" value="0"><br>
    <input type="submit" value="Submit">
  </form>
  <div class="contentarea">
    <h1>
        Using Javascript to capture Photo
    </h1>
    <div class="camera">
        <video id="video">Video stream not available.</video>
    </div>
    <div><button id="startbutton">Take photo</button></div>
    
    <canvas id="canvas"></canvas>
    <div class="output">
        <img id="photo" alt="The screen capture will appear in this box."> 
    </div>
</div>
</body>

</html>




